# Bot-specific dependencies (no media processing tools)
aiogram[i18n]==3.22.0
python-dotenv==1.2.1
sqlalchemy==2.0.45
asyncpg==0.31.0
greenlet==3.3.0
redis~=5.3.1
fluentogram==1.2.1
alembic==1.17.2
translators~=6.0.1
ytmusicapi==1.11.0
arq==0.27.0
Pillow==12.1.0
pillow-heif==1.2.0
aiofiles
curl_cffi
aiofiles
